.about{
    @include pageBasic();
    &__col{
       @include colPadding(); 
       text-align: left;
       overflow: hidden;
       img{
        position: absolute;
        max-width: 30vw;
        top: 25vh;
        @include phone-query(){
            max-width: 80vw;
            margin: 0 auto;
            display: block;
            left: 0;
            right: 0;
        }
       }
        &__h1{
            margin-top: 65vh;
            position: relative;
            &__wrapper{
                position: relative;
                display: inline-block;
                padding-top: 0.2em;
                padding-right: 0.05em;
                padding-bottom: 0.1em;
                overflow: hidden;
            }
            .letter{
                display: inline-block;
                line-height: 1em;
                transition: all .3 ease-in-out;
                cursor: pointer;
                &:first-child{
                    text-shadow: 3px 3px $contrast;
                }
                &:nth-child(6){
                    text-shadow: 3px 3px $contrast;
                }
                &:hover{
                    text-shadow: 3px 3px $contrast;
                    font-size: 105%;
                }
            }
            &__letters{
                div{
                    text-align: left;
                    span{
                        transition: all 0.25s ease-in-out;
                        cursor: pointer;
                        &:first-child, &:nth-child(7), &:hover{
                            span{
                                text-shadow: 3px 3px $contrast;
                            }
                            &:hover{
                                transform: scale(1.1);
                            }
                            
                        }
                    }
                }
            }
        }
        &__h2{
            margin-top: 25vh;
            @include phone-query(){
                margin-top: 0;
            }
        }
    }
}
