.back{
    position: absolute;
    top: 2.5rem;
    left: 2rem;
    z-index: 10000;
    svg{
        width: 3rem;
        path{
            stroke: $contrast;
            fill: none;
            stroke-width: 3;
        }
    }
}