@keyframes blink{
    0%{
        box-shadow: 0px 0px 15px 5px $contrast;
    }
    50%{
        box-shadow: 0px 0px 15px 15px $contrast;
    }
    100%{
        box-shadow: 0px 0px 15px 5px $contrast;
    }
}
.contact{
    @include pageBasic();
    &__col{ 
       @include colPadding();  
       &__h1{
           margin-top: 15vh;
       }
       &__form{
           input, textarea{
               background: transparent;
               background-color: transparent;
               border: none;
               padding: 1rem;
               border-bottom: 2px solid $contrast;
               color: $secondary;
               display: block;
               width: 100%;
               &:focus, &:focus-within{
                outline: none;
               }
           }
           textarea{
               height: 150px;
           }
           label{
            position: absolute;
            top: 1rem;
            left: 2rem;
            color: $secondary;
            transition: all .5s ease-in-out;
           }
           [type="submit"]{
               border-bottom: none;
           }
           .filled{
                font-size: .75rem;
                top: 0rem;
           }
           &__wrap{
               margin-bottom: 2rem;
               &::before{
                height: 2px;
                width: 0rem;
                position: absolute;
                bottom: 2rem;
                left: 0;
                background-color: $secondary;
                content: '';
                left: 1rem;
                transition: all .5s ease-in-out;
               }
               &:focus-visible{
                   outline: none;
               }
            &:focus, &:focus-within{
                outline: none;
                    &::before{
                        height: 2px;
                        width: calc(100% - 2rem);
                        position: absolute;
                        bottom: 2rem;
                        left: 0;
                        background-color: $secondary;
                        content: '';
                        left: 1rem;
                    }
                label{
                    font-size: .75rem;
                    top: 0rem;
                }
            }
           }
       }
       &--map{
           >div{
               &:last-child{
                height: 80vh!important;
                margin-top: 20vh;
               }
            
           }
           
       }
    }
    .recaptcha{
        margin-top: 2rem; 
        &--error{
            iframe{
                box-shadow: 0px 0px 15px 5px $contrast;
                animation: blink 1s ease-in-out infinite;
            }
        }
    }
    padding-bottom: 2rem;
}
