/* archivo-200 - latin */
@font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/archivo-v8-latin-200.eot'); /* IE9 Compat Modes */
    font-display: swap;
    src: local(''),
         url('fonts/archivo-v8-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/archivo-v8-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/archivo-v8-latin-200.woff') format('woff'), /* Modern Browsers */
         url('fonts/archivo-v8-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/archivo-v8-latin-200.svg#Archivo') format('svg'); /* Legacy iOS */
  
  }
  /* archivo-regular - latin */
  @font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/archivo-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/archivo-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/archivo-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/archivo-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/archivo-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/archivo-v8-latin-regular.svg#Archivo') format('svg'); /* Legacy iOS */
  }
/* archivo-700 - latin */
  @font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('fonts/archivo-v8-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/archivo-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/archivo-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/archivo-v8-latin-700.woff') format('woff'), /* Modern Browsers */
         url('fonts/archivo-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/archivo-v8-latin-700.svg#Archivo') format('svg'); /* Legacy iOS */
  }

  /* archivo-black-regular - latin */
@font-face {
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/archivo-black-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/archivo-black-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/archivo-black-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/archivo-black-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/archivo-black-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/archivo-black-v10-latin-regular.svg#ArchivoBlack') format('svg'); /* Legacy iOS */
  }

/* pathway-gothic-one-regular - latin */
@font-face {
    font-family: 'Pathway Gothic One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/pathway-gothic-one-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/pathway-gothic-one-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/pathway-gothic-one-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/pathway-gothic-one-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/pathway-gothic-one-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/pathway-gothic-one-v9-latin-regular.svg#PathwayGothicOne') format('svg'); /* Legacy iOS */
  }