.footer{
    border-top: 2px solid $contrast;
    height: 10vh;
    background-color: $primary;
    padding: 0 10rem;
    @include phone-query(){
        padding: 15px;
        height: auto;
        gap: 1rem;
        >div{
            &:first-child{
                order: 2;
            }
            &:nth-child(2){
                order: 3;
            }
            &:last-child{
                order: 1;
            }
        }
    }
    &__socials{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        height: 100%;
        &__link{
            &:first-child{
                &:hover{
                    animation-name: ball-bouncing;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    animation-duration: .5s;
                }
            }
            svg{
                width: 2rem!important;
                height: auto;
            }
        }
    }
    &__logo{
        width: 8rem;
        @include phone-query(){
            width: 4rem;
        }
    }
    &__address{
        p{
            margin-bottom: 0.25rem;
        }
    }
}



@keyframes ball-bouncing {
    0% { 
        transform: translateY(0%);
        animation-timing-function: ease-out;
    }
    5% { 
      transform: translateY(0%);
      animation-timing-function: ease-out;
    }
    100%{ 
        transform: translateY(-50%);
        animation-timing-function: ease-in;
    }
  }
  
  @keyframes ball-deform {
    0% { 
      height: 20px;
      width: 60px;
      
    }
    5% { 
      height: 50px;
      width: 50px;
    }
    100%{ 
      height: 50px;
      width: 50px;
    }
  }
  
  