.imprint{
    @include pageBasic();
    &__col{ 
        padding-top: 10rem;
       @include colPadding(); 
       h1{
           @include phone-query(){
               word-break: break-all;
           }
       }
    }
}
