@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.load{
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin-left: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    left: 0;
    right: 0;
    margin: 0 auto;
    @include phone-query(){
        margin-left: -15px;
    }
    &.blur{
        opacity: 1;
        display: flex!important;
        @include phone-query(){
            margin-left: 0;
        }
        
    }
    .react-svg-drawing{
        height: 100%;
        width: 100%!important;
        backdrop-filter: blur(12px);
        position: absolute; 
        top: 0;
        animation: fadeOut .5s linear forwards;
        animation-delay: 2.5s;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    svg{
        width: auto;
        height: 100%;  
        z-index: 1;
        margin: 0 auto;
        @include phone-query{
            width: 100%;
        }
        polygon, path{
            fill: transparent;
        }
    }
}