.logo.home{
    position: absolute;
    height: 4rem;
    width: 5rem;
    top: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.25s ease-in-out;
    @include phone-query{
        width: 5rem;
        height: auto;
        position: relative;
        top: 0;
    }
}