

@mixin pageBasic() {
  background-color: $primary; 
   min-height: 90vh;
  @include phone-query{
    height: 100%;
    min-height: 100vh;
  }
}

@mixin phone-query {
  @media (max-width: 700px) { @content; }
}

@mixin desktop-query {
  @media (min-width: 1500px) { @content; }
}

@mixin tablet-down-query{
  @media(max-width: 1000px){@content;}
}
@mixin tablet-query {
  @media (min-width: 1000px) { @content; }
}

@mixin colPadding() {
  @include tablet-query{
    text-align: left;
    &:first-child {
      padding-left: $borderSpacing;
    }
    &:last-child{
        padding-right: $borderSpacing;
    }
  }
  
  }