.overlay-navigation {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.8);
  transform: translateY(-100%);
  transition: all 0.25s ease-in-out;
  &.overlay-active{
    transform: translateY(0);
    @include phone-query(){
    }
  }
}

.overlay-slide-down {
  transition: all .4s ease-in-out;
  transform: translateY(0)
}

.overlay-slide-up {
  transition: all .8s ease-in-out;
  transform: translateY(-100%)
}

nav,
nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  list-style: none;
  @include phone-query(){
    flex-wrap: wrap;
    flex-direction: row;
  }
  li {
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    transform: translateY(-100%);
    background-color: $primary;
    border-right: 2px solid $secondary;
    @include phone-query(){
      height: 20%;
      flex-basis: 100%;
      border-right: none;
      border-bottom: 2px solid $secondary;
      
    }
    .claims{
        position: absolute;
        right: 5rem;
        top: 6.2rem;
        a{
            text-align: right;
            font-size: 100%;
            line-height: 2;
            &:hover{
                &:before{
                    display: none;
                }
                &:after{
                    display: none;
                }
            }
        }
    }
    a {
        position: relative;
        top: 46%;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        text-align: center;
        font-size: 0.9rem;
        transition: all .5s ease-in-out;
        &:before {
            content: '';
            width: 70px;
            height: 2px;
            background-color: $contrast;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 100;
            transform: translateX(-100%);
            opacity: 0;
            transition: all .2s linear;
          }
          &:after {
            content: attr(data-content);
            font-size: 0.7rem;
            transition: all .2s linear;
            opacity: 0;
            position: absolute;
            z-index: 100;
            color: #fff;
            display: block;
            margin-right: auto;
            margin-left: auto;
            left: 0;
            right: 0;
            bottom: -50px;
            text-transform: none;
            font-family: 'Open sans', serif;
            font-weight: 300;
            font-style: italic;
            letter-spacing: 0;
          }
          &:hover{
              text-decoration: none;
              color: $contrast;
              &:before{
                transform: translateX(0);
                opacity: 1;
              }
              &:after{
                transform: translateY(15px);
                opacity: 1;
              }
          }
      }
  }
  .legals{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    @include phone-query{
      bottom: 0.5rem;
    }
    a{
      color: $secondary;
      text-align: left;
      @include phone-query{
        font-size: 1rem!important;
        line-height: 1.5!important;
      }
      &:hover{
        &::before{
          background-color: transparent;
        }
      }
    }
  }
  
}



@mixin contrasth(){
  a{
    @include phone-query(){
      font-size: $contrast-h2-mobile!important;
      line-height: $contrast-h2-line-mobile!important;
    }
  }
}
.slide-in-nav-item {
  animation: slide-in-nav-item 0.4s linear 1 .2s both;
  @include contrasth();
  
}

.slide-in-nav-item-delay-1 {
  animation: slide-in-nav-item 0.4s linear 1 .4s both;
  @include contrasth();
}

.slide-in-nav-item-delay-2 {
  animation: slide-in-nav-item 0.4s linear 1 .6s both;
  @include contrasth();
}

.slide-in-nav-item-delay-3 {
  animation: slide-in-nav-item 0.4s linear 1 .8s both;
  @include contrasth();
}

.slide-in-nav-item-delay-4 {
  animation: slide-in-nav-item 0.4s linear 1 1s both;
  @include contrasth();
  @include phone-query(){
    >a{
      top: 3rem;
    }
  }
}

.slide-in-nav-item-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .5s both;
  @include contrasth();
}

.slide-in-nav-item-delay-1-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .4s both;
  @include contrasth();
}

.slide-in-nav-item-delay-2-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .3s both;
  @include contrasth();
}

.slide-in-nav-item-delay-3-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .2s both;
  @include contrasth();
}

.slide-in-nav-item-delay-4-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 both;
  @include contrasth();
}


/* ====================================
Burger king
==================================== */

.open-overlay {
  position: absolute;
  right: 5rem;
  top: 3.2rem;
  z-index: 100;
  width: 34px;
  display: block;
  cursor: pointer;
  span {
    display: block;
    height: 1px;
    background-color: #fff;
    cursor: pointer;
    margin-top: 8px;
  }
}

.animate-top-bar {
  animation: animate-top-bar .6s linear 1 both
}

.animate-bottom-bar {
  animation: animate-bottom-bar .6s linear 1 both
}

.animate-middle-bar {
  animation: animate-middle-bar .6s linear 1 both
}

.animate-out-top-bar {
  animation: animate-out-top-bar .6s linear 1 both
}

.animate-out-bottom-bar {
  animation: animate-out-bottom-bar .6s linear 1 both
}

.animate-out-middle-bar {
  animation: animate-out-middle-bar .6s linear 1 both
}


/* ====================================
Animation keyframes
==================================== */

@keyframes slide-in-nav-item {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes slide-in-nav-item-reverse {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
  }
}

@keyframes animate-top-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #fff
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: $contrast;
  }
}

@keyframes animate-bottom-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: $contrast;
  }
}

@keyframes animate-middle-bar {
  0% {
    background-color: #fff;
  }
  80% {
    background-color: #fff;
  }
  100% {
    background-color: $contrast;
  }
}

@keyframes animate-out-top-bar {
  0% {
    background-color: #29363B
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363B
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363B
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363B;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363B
  }
  80% {
    background-color: #29363B;
  }
  100% {
    background-color: #fff;
  }
}
@media (max-width: 640px) {
  nav ul li a {
    font-size: 11px;
  }
  nav li a:after {
    font-size: 0.6rem;
  }
  .open-overlay {
    right: 1rem;
  }
  nav li a:before {
    width: 15px;
  }
}