.next{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-52%) rotate(180deg);
    svg{
        width: 3rem;
        path{
            stroke: $secondary;
            fill: none;
            stroke-width: 3;
        }
    }
}
