.skills{
    @include pageBasic();
    &__col{
        @include colPadding(); 
        &__h1{
            margin-top: 25vh; 
            @include phone-query(){
                margin-top: $mobileSpaceTop;
            }
        }
        .tagcanvas{
            position: relative;
            top: 25vh;
            @include phone-query(){
                top: 0;
            }
        }
        &__container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            height: 100%;
            &__canvas{
                display: block;
            }
        }
    }
}