body{
    max-width: 100vw;
    overflow-x: hidden;
}
.inactive{
    display: none;
}

p{
    font-family: $fontPrimary;
}

.container-fluid{
    width: 100vw!important;
}

.react-3d-carousel .slider-container .slider-content .slider-single .slider-single-content img{
    aspect-ratio: 4 / 1;
    object-fit: cover;
    @media not all and (min-resolution:.001dpcm) { 
        width: 240px;
        height: 60px;    
    }
    @-moz-document url-prefix() {
        width: 240px;
        height: 60px;    
      }  
}