@keyframes fadeIn{
    from{opacity: 0}
    to{opacity: 1}
}

@keyframes jump{
    0%{
        top: 83vh;
    }
    50%{
        top: 80vh;
    }
    100%{
        top: 83vh;
    }
}


.start{
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    background: $primary;
    height: 100vh;
    @include phone-query{
        flex-direction: column;
        min-height: -webkit-fill-available;
        height: auto;
    }
    &__h1{
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        text-align: center;
        top: 10rem;
        text-transform: uppercase;
        display: flex;
        transform: scale(0.95,1);
        @include phone-query{
            height: calc( 100vh / 4 )!important;
            position: relative;
            top: 0;
            width: 100vw;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            font-size: $headline-h1!important;
            line-height: $headline-h1-line!important;
        }
        &__left, &__right{
             display: inline-block;
             width: 50%;  
             @include phone-query{
                 width: 100%;
             }
             &:hover{
                ~.start__col__front{
                    display: none;
                }
            }
        }
        .h1JS{
            transition: all 1s;
            &.h1ani{
                margin-top: 100vh;
            }
        }
        &__left{
            text-align: right;
            padding-right: 8.2vw;
            display: flex;
            justify-content: flex-end;
            @include phone-query{
                text-align: center;
                padding-right: 0;
                justify-content: center;
            }
        }
        &__right{
            text-align: left;
            display: flex;
            justify-content: flex-start;
            @include phone-query{
                text-align: center;
                justify-content: center;
            }
        }
    }
    &__col{
        background: $primary;
        border-right: 3px solid $secondary;
        height: 100vh;
        position: relative;
        @include phone-query{
            display: none;
            height: calc( 100vh / 6 )!important;
            border-top: 2px solid $secondary;
            border-right: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0!important;
        }
        &:last-child{
            border: none;
            @include phone-query{
                height: calc( 100vh / 6 )!important;
                border-top: 2px solid $secondary;
            }
        }
        
        &__front{ 
            position: absolute; 
            bottom: 7rem;
            left: 0;
            right: 0;
            transition: all 1s;
            z-index: 10;
            @include phone-query{
                bottom: unset;
            }
            h3{
                text-align: center;
                @include phone-query{
                    font-size: $contrast-h2-mobile!important;
                    line-height: $contrast-h2-mobile!important;
                }
            }
        }
        &__back{
            background: linear-gradient(0deg, rgba(51,51,51,1) 25%, rgba(255,7,58,1) 100%);
            height: 100%;
            width: calc(100% + 2rem);
            margin-left: -1rem;
            height: 0%;
            transition: all 1s;
            position: relative;
            overflow: hidden;
            .vita-prev{

                width: 100%;
                height: auto;
                position: absolute;
                top: 25%;
                @include phone-query{
                    width: 30vw;
                    height: auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }

            }
            .circle{
                &::before{
                    content:'';
                    background-image: url("data:image/svg+xml;base64, height='100' width='100'%3E%3Ccircle cx='50' cy='50' r='40' stroke='black' stroke-width='3' fill='none' /%3E%3C/svg%3E");
                   
                    position: absolute;
                    background-size: contain;
                    width: 20px;
                    height: 20px;
                }
            }
            button{
                border: 2px solid $secondary;
                border-radius: 100%;
                width: 5rem;
                height: 5rem;
                position: absolute;
                top: 80vh;
                display: block;
                margin: 0 auto;
                left: 0;
                right: 0;
                z-index: 10;
                transition: all .5s ease-in-out;
                animation: jump 1s linear infinite;
                a{
                    bottom: .5rem;
                    position: absolute;
                    width: 70%;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
                &:hover{
                    height: 6rem;
                    border-radius: 50%;
                    animation: none;
                }
                svg{
                    width: 100%;
                    fill: $secondary;
                }
            }
            @include phone-query{
            .button{
                bottom: unset;
                top: 50%;
                transform: translateY(-52%);
                @include phone-query(){
                    display: block;
                    width: 50%;
                }
            }
            }
            .tagcanvas{
                position: relative;
                top: 15rem;
                @include tablet-down-query{
                    top: 5rem;
                }
                @include phone-query{
                    transform: scale(.5);
                    top: -4rem;
                }


            }
            .carousel{
                top: 40vh;
                .slider-left, .slider-right{
                    display: none!important;
                }
                @include phone-query{
                    top: 50%;
                    transform: translateY(-52%);
                }
            }
            &__text{
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                margin: 0 auto;
                text-align: center;
                opacity: 0;
                transition-delay: 2s;
                .d-block{
                    &:first-child{
                        font-size: 3.5vw;
                        font-weight: 600;
                    }
                    
                    span{
                        padding-left: 0;
                        &.highlight{
                            text-shadow: 3px 2px 0px red;
                        }
                        &:last-child{
                            display: block;
                            line-height: 0;
                            font-size: 55%;
                            margin-bottom: 1rem;
                        }
                        
                    }
                }
                @include phone-query{
                    transform: translateY(-52%);
                    span{
                        text-align: center;
                    }
                }
            }
            
        }
        &:hover &{
            &__front{
                @include phone-query{
                    bottom: unset;
                }
            }
        }
        &--hover{
            .start__col__front{
                bottom: 40rem;
                h3{
                    -webkit-text-fill-color: $secondary;
                }
                
                @include phone-query{
                    bottom: unset;
                    left: 120vw;
                }
            }
            .start__col__back{
                height: 100%;
                &__text{
                    animation: fadeIn 1s linear forwards;
                    animation-delay: 0.5s;
                    span{
                        line-height: 1.5;
                        text-align: center; 
                        span{
                            padding-left: 0;
                        }
                        @include phone-query{
                            text-align: center;
                            padding-left: 0;
                            &:first-child{
                                font-size: 2.5rem;
                                span{
                                    &:not(.highlight){
                                        font-size: 50%!important;
                                    }
                                    
                                }
                            }
                            &:not(:first-child){
                                
                            }
                           
                        }
                    }
                }
            }
        }
    }
}