
@keyframes gradient {
    50% {
      background-position: 100% 0;
    }
  }

.h1{
    font-size: $headline-h1!important;
    line-height: $headline-h1-line!important;
    font-family: 'Archivo Black'!important;
    @include phone-query{
        font-size: $headline-h1-mobile!important;
        line-height: $headline-h1-line-mobile!important;
    }
}

.h2{
    font-size: $headline-h2!important;
    line-height: $headline-h2-line!important;
    font-family: 'Archivo Black';
}

.h3{
    font-size: $headline-h3!important;
    line-height: $headline-h3-line!important;
    font-family: 'Archivo Black';
    @include phone-query{
        font-size: $headline-h4-mobile!important;
        line-height: $headline-h4-line-mobile!important;
    }
}

.contrast-h1, .contrast-h2{
    font-size: $contrast-h1!important;
    line-height: $contrast-h1-line!important;
    text-transform: uppercase;
    font-family: 'Pathway Gothic One';
    background-color: red;
  
    /* Create the gradient. */
    background-image: linear-gradient(90deg, rgba(102,0,21,1) 0%, rgba(183,2,39,1) 41%, rgba(233,6,52,1) 77%);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    transition: all .5s ease-in-out;
    @include phone-query{
        font-size: $contrast-h1-mobile!important;
        line-height: $contrast-h1-line-mobile!important;
    }
}

.contrast-h2{
    font-size: $contrast-h2!important;
    line-height: $contrast-h2-line!important;
    font-family: 'Pathway Gothic One';
}

.text-l{
    font-size: $text-l!important;
    line-height: $text-l-line!important;
    font-family: 'Archivo';
    @include phone-query{
        font-size: $text-lr!important;
        line-height: $text-lr-line!important;
    }
}

.text-m{
    font-size: $text-m!important;
    line-height: $text-m-line!important;
    font-family: 'Archivo';
    @include phone-query{
        font-size: $text-mr!important;
        line-height: $text-mr-line!important;
    }
}

.text-s{
    font-size: $text-s!important;
    line-height: $text-s-line!important;
    font-family: 'Archivo';
    @include phone-query{
        font-size: $text-sr!important;
        line-height: $text-sr-line!important;
    }
}

.sec-color{
    color: $secondary!important;
}


.opacity-0{
    opacity: 0;
}


.button{
    color:$primary;
    border: none;
    outline: none;
    background: $contrast;
    background-size: 400% 400%;
    box-shadow: .3vw .3vw 0 $secondary;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 3rem;
    padding: 0 2rem;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        font-size: $text-s;
        color: $secondary;
    }
    &:hover {
        animation: gradient 10s ease infinite;
        font-size: 110%;
        box-shadow: 0.2vw 0.2vw 0 lightcoral;
        a{
            text-decoration: none;
        }
        button{
            color: $secondary;
        }
        
      }
}

.cls-1{fill:none;}.cls-1,.cls-2{stroke:#ededed;stroke-miterlimit:10;stroke-width:6px;}.cls-2{fill:#fff;}