
// Colors
$primary: #222;
$secondary: #ededed;
$contrast: #ff073a;


// Font sizes
$headline-h1: 5.875vw;
$headline-h1-mobile: 9.875vw;
$headline-h2: 5vw;
$headline-h3: 3.125vw;

$headline-h1-line: 7.5vw;
$headline-h1-line-mobile: 11.5vw;
$headline-h2-line: 4.125vw;
$headline-h3-line: 3.438vw;

$headline-h1-mobile: 5.875rem;
$headline-h2-mobile: 5rem;
$headline-h3-mobile: 3.125rem;
$headline-h4-mobile: 2.125rem;

$headline-h1-line-mobile: 7.5rem;
$headline-h2-line-mobile: 4.125rem;
$headline-h3-line-mobile: 3.438rem;
$headline-h4-line-mobile: 2.75rem;




$contrast-h1: $headline-h2;
$contrast-h2: 3vw;

$contrast-h1-line: 5.75vw;
$contrast-h2-line: 3.75vw;


$contrast-h1-mobile: $headline-h2-mobile;
$contrast-h2-mobile: 3rem;

$contrast-h1-line-mobile: 5.75rem;
$contrast-h2-line-mobile: 3.75rem;

$text-l: 1.75vw;
$text-l-line: 2.25vw;
$text-m: 1.5vw;
$text-m-line: 2vw;
$text-s: .75vw;
$text-s-line: 1vw;

$text-lr: 1.75rem;
$text-lr-line: 2.25rem;
$text-mr: 1.5rem;
$text-mr-line: 2rem;
$text-sr: .75rem;
$text-sr-line: 1rem;



// Font families

$fontPrimary: 'Archivo';
$fontContrast: 'Pathway Gothic One';

// Spacings

$borderSpacing: 10rem;

$mobileSpaceTop: 15vh;
