.vita{
    @include pageBasic();
    &__col{
        @include colPadding();
        text-align: left;
        &__h1{
            margin-top: 25vh;
            @include phone-query(){
                margin-top: $mobileSpaceTop;
            }
        }
        .vis{
            height: 100%;
        }
    }
}