/* archivo-200 - latin */

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 200;
  src: url("fonts/archivo-v8-latin-200.eot");
  /* IE9 Compat Modes */
  font-display: swap;
  src: local(""), url("fonts/archivo-v8-latin-200.eot?#iefix") format("embedded-opentype"), url("fonts/archivo-v8-latin-200.woff2") format("woff2"), url("fonts/archivo-v8-latin-200.woff") format("woff"), url("fonts/archivo-v8-latin-200.ttf") format("truetype"), url("fonts/archivo-v8-latin-200.svg#Archivo") format("svg");
  /* Legacy iOS */
}

/* archivo-regular - latin */

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/archivo-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/archivo-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/archivo-v8-latin-regular.woff2") format("woff2"), url("fonts/archivo-v8-latin-regular.woff") format("woff"), url("fonts/archivo-v8-latin-regular.ttf") format("truetype"), url("fonts/archivo-v8-latin-regular.svg#Archivo") format("svg");
  /* Legacy iOS */
}

/* archivo-700 - latin */

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/archivo-v8-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/archivo-v8-latin-700.eot?#iefix") format("embedded-opentype"), url("fonts/archivo-v8-latin-700.woff2") format("woff2"), url("fonts/archivo-v8-latin-700.woff") format("woff"), url("fonts/archivo-v8-latin-700.ttf") format("truetype"), url("fonts/archivo-v8-latin-700.svg#Archivo") format("svg");
  /* Legacy iOS */
}

/* archivo-black-regular - latin */

@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/archivo-black-v10-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/archivo-black-v10-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/archivo-black-v10-latin-regular.woff2") format("woff2"), url("fonts/archivo-black-v10-latin-regular.woff") format("woff"), url("fonts/archivo-black-v10-latin-regular.ttf") format("truetype"), url("fonts/archivo-black-v10-latin-regular.svg#ArchivoBlack") format("svg");
  /* Legacy iOS */
}

/* pathway-gothic-one-regular - latin */

@font-face {
  font-family: 'Pathway Gothic One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/pathway-gothic-one-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("fonts/pathway-gothic-one-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/pathway-gothic-one-v9-latin-regular.woff2") format("woff2"), url("fonts/pathway-gothic-one-v9-latin-regular.woff") format("woff"), url("fonts/pathway-gothic-one-v9-latin-regular.ttf") format("truetype"), url("fonts/pathway-gothic-one-v9-latin-regular.svg#PathwayGothicOne") format("svg");
  /* Legacy iOS */
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}

.h1 {
  font-size: 5.875vw !important;
  line-height: 7.5vw !important;
  font-family: "Archivo Black" !important;
}

@media (max-width: 700px) {
  .h1 {
    font-size: 5.875rem !important;
    line-height: 7.5rem !important;
  }
}

.h2 {
  font-size: 5vw !important;
  line-height: 4.125vw !important;
  font-family: 'Archivo Black';
}

.h3 {
  font-size: 3.125vw !important;
  line-height: 3.438vw !important;
  font-family: 'Archivo Black';
}

@media (max-width: 700px) {
  .h3 {
    font-size: 2.125rem !important;
    line-height: 2.75rem !important;
  }
}

.contrast-h1,
.contrast-h2 {
  font-size: 5vw !important;
  line-height: 5.75vw !important;
  text-transform: uppercase;
  font-family: 'Pathway Gothic One';
  background-color: red;
  /* Create the gradient. */
  background-image: linear-gradient(90deg, #660015 0%, #b70227 41%, #e90634 77%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: all .5s ease-in-out;
}

@media (max-width: 700px) {
  .contrast-h1,
  .contrast-h2 {
    font-size: 5rem !important;
    line-height: 5.75rem !important;
  }
}

.contrast-h2 {
  font-size: 3vw !important;
  line-height: 3.75vw !important;
  font-family: 'Pathway Gothic One';
}

.text-l {
  font-size: 1.75vw !important;
  line-height: 2.25vw !important;
  font-family: 'Archivo';
}

@media (max-width: 700px) {
  .text-l {
    font-size: 1.75rem !important;
    line-height: 2.25rem !important;
  }
}

.text-m {
  font-size: 1.5vw !important;
  line-height: 2vw !important;
  font-family: 'Archivo';
}

@media (max-width: 700px) {
  .text-m {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }
}

.text-s {
  font-size: 0.75vw !important;
  line-height: 1vw !important;
  font-family: 'Archivo';
}

@media (max-width: 700px) {
  .text-s {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
  }
}

.sec-color {
  color: #ededed !important;
}

.opacity-0 {
  opacity: 0;
}

.button {
  color: #222;
  border: none;
  outline: none;
  background: #ff073a;
  background-size: 400% 400%;
  box-shadow: 0.3vw 0.3vw 0 #ededed;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 3rem;
  padding: 0 2rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button {
  font-size: 0.75vw;
  color: #ededed;
}

.button:hover {
  animation: gradient 10s ease infinite;
  font-size: 110%;
  box-shadow: 0.2vw 0.2vw 0 lightcoral;
}

.button:hover a {
  text-decoration: none;
}

.button:hover button {
  color: #ededed;
}

.cls-1 {
  fill: none;
}

.cls-1,
.cls-2 {
  stroke: #ededed;
  stroke-miterlimit: 10;
  stroke-width: 6px;
}

.cls-2 {
  fill: #fff;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.inactive {
  display: none;
}

p {
  font-family: "Archivo";
}

.container-fluid {
  width: 100vw !important;
}

.react-3d-carousel .slider-container .slider-content .slider-single .slider-single-content img {
  aspect-ratio: 4 / 1;
  object-fit: cover;
}

@media not all and (min-resolution: 0.001dpcm) {
  .react-3d-carousel .slider-container .slider-content .slider-single .slider-single-content img {
    width: 240px;
    height: 60px;
  }
}

@-moz-document url-prefix()  {
  .react-3d-carousel .slider-container .slider-content .slider-single .slider-single-content img {
    width: 240px;
    height: 60px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes jump {
  0% {
    top: 83vh;
  }

  50% {
    top: 80vh;
  }

  100% {
    top: 83vh;
  }
}

.start {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  background: #222;
  height: 100vh;
}

@media (max-width: 700px) {
  .start {
    flex-direction: column;
    min-height: -webkit-fill-available;
    height: auto;
  }
}

.start__h1 {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  text-align: center;
  top: 10rem;
  text-transform: uppercase;
  display: flex;
  transform: scale(0.95, 1);
}

@media (max-width: 700px) {
  .start__h1 {
    height: calc( 100vh / 4) !important;
    position: relative;
    top: 0;
    width: 100vw;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-size: 5.875vw !important;
    line-height: 7.5vw !important;
  }
}

.start__h1__left,
.start__h1__right {
  display: inline-block;
  width: 50%;
}

@media (max-width: 700px) {
  .start__h1__left,
  .start__h1__right {
    width: 100%;
  }
}

.start__h1__left:hover ~ .start__col__front,
.start__h1__right:hover ~ .start__col__front {
  display: none;
}

.start__h1 .h1JS {
  transition: all 1s;
}

.start__h1 .h1JS.h1ani {
  margin-top: 100vh;
}

.start__h1__left {
  text-align: right;
  padding-right: 8.2vw;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 700px) {
  .start__h1__left {
    text-align: center;
    padding-right: 0;
    justify-content: center;
  }
}

.start__h1__right {
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 700px) {
  .start__h1__right {
    text-align: center;
    justify-content: center;
  }
}

.start__col {
  background: #222;
  border-right: 3px solid #ededed;
  height: 100vh;
  position: relative;
}

@media (max-width: 700px) {
  .start__col {
    display: none;
    height: calc( 100vh / 6) !important;
    border-top: 2px solid #ededed;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
  }
}

.start__col:last-child {
  border: none;
}

@media (max-width: 700px) {
  .start__col:last-child {
    height: calc( 100vh / 6) !important;
    border-top: 2px solid #ededed;
  }
}

.start__col__front {
  position: absolute;
  bottom: 7rem;
  left: 0;
  right: 0;
  transition: all 1s;
  z-index: 10;
}

@media (max-width: 700px) {
  .start__col__front {
    bottom: unset;
  }
}

.start__col__front h3 {
  text-align: center;
}

@media (max-width: 700px) {
  .start__col__front h3 {
    font-size: 3rem !important;
    line-height: 3rem !important;
  }
}

.start__col__back {
  background: linear-gradient(0deg, #333333 25%, #ff073a 100%);
  height: 100%;
  width: calc(100% + 2rem);
  margin-left: -1rem;
  height: 0%;
  transition: all 1s;
  position: relative;
  overflow: hidden;
}

.start__col__back .vita-prev {
  width: 100%;
  height: auto;
  position: absolute;
  top: 25%;
}

@media (max-width: 700px) {
  .start__col__back .vita-prev {
    width: 30vw;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.start__col__back .circle::before {
  content: '';
  background-image: url("data:image/svg+xml;base64, height=100 width=100%3E%3Ccircle cx=50 cy=50 r=40 stroke=black stroke-width=3 fill=none /%3E%3C/svg%3E");
  position: absolute;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.start__col__back button {
  border: 2px solid #ededed;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 80vh;
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all .5s ease-in-out;
  animation: jump 1s linear infinite;
}

.start__col__back button a {
  bottom: .5rem;
  position: absolute;
  width: 70%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.start__col__back button:hover {
  height: 6rem;
  border-radius: 50%;
  animation: none;
}

.start__col__back button svg {
  width: 100%;
  fill: #ededed;
}

@media (max-width: 700px) {
  .start__col__back .button {
    bottom: unset;
    top: 50%;
    transform: translateY(-52%);
  }
}

@media (max-width: 700px) and (max-width: 700px) {
  .start__col__back .button {
    display: block;
    width: 50%;
  }
}

.start__col__back .tagcanvas {
  position: relative;
  top: 15rem;
}

@media (max-width: 1000px) {
  .start__col__back .tagcanvas {
    top: 5rem;
  }
}

@media (max-width: 700px) {
  .start__col__back .tagcanvas {
    transform: scale(0.5);
    top: -4rem;
  }
}

.start__col__back .carousel {
  top: 40vh;
}

.start__col__back .carousel .slider-left,
.start__col__back .carousel .slider-right {
  display: none !important;
}

@media (max-width: 700px) {
  .start__col__back .carousel {
    top: 50%;
    transform: translateY(-52%);
  }
}

.start__col__back__text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  transition-delay: 2s;
}

.start__col__back__text .d-block:first-child {
  font-size: 3.5vw;
  font-weight: 600;
}

.start__col__back__text .d-block span {
  padding-left: 0;
}

.start__col__back__text .d-block span.highlight {
  text-shadow: 3px 2px 0px red;
}

.start__col__back__text .d-block span:last-child {
  display: block;
  line-height: 0;
  font-size: 55%;
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  .start__col__back__text {
    transform: translateY(-52%);
  }

  .start__col__back__text span {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .start__col:hover .start__col__front {
    bottom: unset;
  }
}

.start__col--hover .start__col__front {
  bottom: 40rem;
}

.start__col--hover .start__col__front h3 {
  -webkit-text-fill-color: #ededed;
}

@media (max-width: 700px) {
  .start__col--hover .start__col__front {
    bottom: unset;
    left: 120vw;
  }
}

.start__col--hover .start__col__back {
  height: 100%;
}

.start__col--hover .start__col__back__text {
  animation: fadeIn 1s linear forwards;
  animation-delay: 0.5s;
}

.start__col--hover .start__col__back__text span {
  line-height: 1.5;
  text-align: center;
}

.start__col--hover .start__col__back__text span span {
  padding-left: 0;
}

@media (max-width: 700px) {
  .start__col--hover .start__col__back__text span {
    text-align: center;
    padding-left: 0;
  }

  .start__col--hover .start__col__back__text span:first-child {
    font-size: 2.5rem;
  }

  .start__col--hover .start__col__back__text span:first-child span:not(.highlight) {
    font-size: 50% !important;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.load {
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin-left: 15px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .load {
    margin-left: -15px;
  }
}

.load.blur {
  opacity: 1;
  display: flex !important;
}

@media (max-width: 700px) {
  .load.blur {
    margin-left: 0;
  }
}

.load .react-svg-drawing {
  height: 100%;
  width: 100% !important;
  backdrop-filter: blur(12px);
  position: absolute;
  top: 0;
  animation: fadeOut .5s linear forwards;
  animation-delay: 2.5s;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.load svg {
  width: auto;
  height: 100%;
  z-index: 1;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .load svg {
    width: 100%;
  }
}

.load svg polygon,
.load svg path {
  fill: transparent;
}

.about {
  background-color: #222;
  min-height: 90vh;
}

@media (max-width: 700px) {
  .about {
    height: 100%;
    min-height: 100vh;
  }
}

.about__col {
  text-align: left;
}

@media (min-width: 1000px) {
  .about__col {
    text-align: left;
  }

  .about__col:first-child {
    padding-left: 10rem;
  }

  .about__col:last-child {
    padding-right: 10rem;
  }
}

.about__col img {
  position: absolute;
  max-width: 30vw;
  top: 25vh;
}

@media (max-width: 700px) {
  .about__col img {
    max-width: 80vw;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
  }
}

.about__col__h1 {
  margin-top: 65vh;
  position: relative;
}

.about__col__h1__wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.about__col__h1 .letter {
  display: inline-block;
  line-height: 1em;
  transition: all .3 ease-in-out;
  cursor: pointer;
}

.about__col__h1 .letter:first-child {
  text-shadow: 3px 3px #ff073a;
}

.about__col__h1 .letter:nth-child(6) {
  text-shadow: 3px 3px #ff073a;
}

.about__col__h1 .letter:hover {
  text-shadow: 3px 3px #ff073a;
  font-size: 105%;
}

.about__col__h1__letters div {
  text-align: left;
}

.about__col__h1__letters div span {
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.about__col__h1__letters div span:first-child span,
.about__col__h1__letters div span:nth-child(7) span,
.about__col__h1__letters div span:hover span {
  text-shadow: 3px 3px #ff073a;
}

.about__col__h1__letters div span:first-child:hover,
.about__col__h1__letters div span:nth-child(7):hover,
.about__col__h1__letters div span:hover:hover {
  transform: scale(1.1);
}

.about__col__h2 {
  margin-top: 25vh;
}

@media (max-width: 700px) {
  .about__col__h2 {
    margin-top: 0;
  }
}

.skills {
  background-color: #222;
  min-height: 90vh;
}

@media (max-width: 700px) {
  .skills {
    height: 100%;
    min-height: 100vh;
  }
}

@media (min-width: 1000px) {
  .skills__col {
    text-align: left;
  }

  .skills__col:first-child {
    padding-left: 10rem;
  }

  .skills__col:last-child {
    padding-right: 10rem;
  }
}

.skills__col__h1 {
  margin-top: 25vh;
}

@media (max-width: 700px) {
  .skills__col__h1 {
    margin-top: 15vh;
  }
}

.skills__col .tagcanvas {
  position: relative;
  top: 25vh;
}

@media (max-width: 700px) {
  .skills__col .tagcanvas {
    top: 0;
  }
}

.skills__col__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.skills__col__container__canvas {
  display: block;
}

.vita {
  background-color: #222;
  min-height: 90vh;
}

@media (max-width: 700px) {
  .vita {
    height: 100%;
    min-height: 100vh;
  }
}

.vita__col {
  text-align: left;
}

@media (min-width: 1000px) {
  .vita__col {
    text-align: left;
  }

  .vita__col:first-child {
    padding-left: 10rem;
  }

  .vita__col:last-child {
    padding-right: 10rem;
  }
}

.vita__col__h1 {
  margin-top: 25vh;
}

@media (max-width: 700px) {
  .vita__col__h1 {
    margin-top: 15vh;
  }
}

.vita__col .vis {
  height: 100%;
}

.overlay-navigation {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(-100%);
  transition: all 0.25s ease-in-out;
}

.overlay-navigation.overlay-active {
  transform: translateY(0);
}

.overlay-slide-down {
  transition: all .4s ease-in-out;
  transform: translateY(0);
}

.overlay-slide-up {
  transition: all .8s ease-in-out;
  transform: translateY(-100%);
}

nav,
nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  list-style: none;
}

@media (max-width: 700px) {
  nav ul {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

nav ul li {
  flex-basis: 25%;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  transform: translateY(-100%);
  background-color: #222;
  border-right: 2px solid #ededed;
}

@media (max-width: 700px) {
  nav ul li {
    height: 20%;
    flex-basis: 100%;
    border-right: none;
    border-bottom: 2px solid #ededed;
  }
}

nav ul li .claims {
  position: absolute;
  right: 5rem;
  top: 6.2rem;
}

nav ul li .claims a {
  text-align: right;
  font-size: 100%;
  line-height: 2;
}

nav ul li .claims a:hover:before {
  display: none;
}

nav ul li .claims a:hover:after {
  display: none;
}

nav ul li a {
  position: relative;
  top: 46%;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.9rem;
  transition: all .5s ease-in-out;
}

nav ul li a:before {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #ff073a;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  transform: translateX(-100%);
  opacity: 0;
  transition: all .2s linear;
}

nav ul li a:after {
  content: attr(data-content);
  font-size: 0.7rem;
  transition: all .2s linear;
  opacity: 0;
  position: absolute;
  z-index: 100;
  color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: -50px;
  text-transform: none;
  font-family: 'Open sans', serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0;
}

nav ul li a:hover {
  text-decoration: none;
  color: #ff073a;
}

nav ul li a:hover:before {
  transform: translateX(0);
  opacity: 1;
}

nav ul li a:hover:after {
  transform: translateY(15px);
  opacity: 1;
}

nav ul .legals {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

@media (max-width: 700px) {
  nav ul .legals {
    bottom: 0.5rem;
  }
}

nav ul .legals a {
  color: #ededed;
  text-align: left;
}

@media (max-width: 700px) {
  nav ul .legals a {
    font-size: 1rem !important;
    line-height: 1.5 !important;
  }
}

nav ul .legals a:hover::before {
  background-color: transparent;
}

.slide-in-nav-item {
  animation: slide-in-nav-item 0.4s linear 1 .2s both;
}

@media (max-width: 700px) {
  .slide-in-nav-item a {
    font-size: 3rem !important;
    line-height: 3.75rem !important;
  }
}

.slide-in-nav-item-delay-1 {
  animation: slide-in-nav-item 0.4s linear 1 .4s both;
}

@media (max-width: 700px) {
  .slide-in-nav-item-delay-1 a {
    font-size: 3rem !important;
    line-height: 3.75rem !important;
  }
}

.slide-in-nav-item-delay-2 {
  animation: slide-in-nav-item 0.4s linear 1 .6s both;
}

@media (max-width: 700px) {
  .slide-in-nav-item-delay-2 a {
    font-size: 3rem !important;
    line-height: 3.75rem !important;
  }
}

.slide-in-nav-item-delay-3 {
  animation: slide-in-nav-item 0.4s linear 1 .8s both;
}

@media (max-width: 700px) {
  .slide-in-nav-item-delay-3 a {
    font-size: 3rem !important;
    line-height: 3.75rem !important;
  }
}

.slide-in-nav-item-delay-4 {
  animation: slide-in-nav-item 0.4s linear 1 1s both;
}

@media (max-width: 700px) {
  .slide-in-nav-item-delay-4 a {
    font-size: 3rem !important;
    line-height: 3.75rem !important;
  }
}

@media (max-width: 700px) {
  .slide-in-nav-item-delay-4 > a {
    top: 3rem;
  }
}

.slide-in-nav-item-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .5s both;
}

@media (max-width: 700px) {
  .slide-in-nav-item-reverse a {
    font-size: 3rem !important;
    line-height: 3.75rem !important;
  }
}

.slide-in-nav-item-delay-1-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .4s both;
}

@media (max-width: 700px) {
  .slide-in-nav-item-delay-1-reverse a {
    font-size: 3rem !important;
    line-height: 3.75rem !important;
  }
}

.slide-in-nav-item-delay-2-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .3s both;
}

@media (max-width: 700px) {
  .slide-in-nav-item-delay-2-reverse a {
    font-size: 3rem !important;
    line-height: 3.75rem !important;
  }
}

.slide-in-nav-item-delay-3-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 .2s both;
}

@media (max-width: 700px) {
  .slide-in-nav-item-delay-3-reverse a {
    font-size: 3rem !important;
    line-height: 3.75rem !important;
  }
}

.slide-in-nav-item-delay-4-reverse {
  animation: slide-in-nav-item-reverse .3s linear 1 both;
}

@media (max-width: 700px) {
  .slide-in-nav-item-delay-4-reverse a {
    font-size: 3rem !important;
    line-height: 3.75rem !important;
  }
}

/* ====================================
Burger king
==================================== */

.open-overlay {
  position: absolute;
  right: 5rem;
  top: 3.2rem;
  z-index: 100;
  width: 34px;
  display: block;
  cursor: pointer;
}

.open-overlay span {
  display: block;
  height: 1px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 8px;
}

.animate-top-bar {
  animation: animate-top-bar .6s linear 1 both;
}

.animate-bottom-bar {
  animation: animate-bottom-bar .6s linear 1 both;
}

.animate-middle-bar {
  animation: animate-middle-bar .6s linear 1 both;
}

.animate-out-top-bar {
  animation: animate-out-top-bar .6s linear 1 both;
}

.animate-out-bottom-bar {
  animation: animate-out-bottom-bar .6s linear 1 both;
}

.animate-out-middle-bar {
  animation: animate-out-middle-bar .6s linear 1 both;
}

/* ====================================
Animation keyframes
==================================== */

@keyframes slide-in-nav-item {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-in-nav-item-reverse {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes animate-top-bar {
  0% {
    background-color: #fff;
  }

  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }

  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #fff;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #ff073a;
  }
}

@keyframes animate-bottom-bar {
  0% {
    background-color: #fff;
  }

  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }

  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fff;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #ff073a;
  }
}

@keyframes animate-middle-bar {
  0% {
    background-color: #fff;
  }

  80% {
    background-color: #fff;
  }

  100% {
    background-color: #ff073a;
  }
}

@keyframes animate-out-top-bar {
  0% {
    background-color: #29363B;
  }

  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }

  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363B;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363B;
  }

  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }

  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363B;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363B;
  }

  80% {
    background-color: #29363B;
  }

  100% {
    background-color: #fff;
  }
}

@media (max-width: 640px) {
  nav ul li a {
    font-size: 11px;
  }

  nav li a:after {
    font-size: 0.6rem;
  }

  .open-overlay {
    right: 1rem;
  }

  nav li a:before {
    width: 15px;
  }
}

@keyframes blink {
  0% {
    box-shadow: 0px 0px 15px 5px #ff073a;
  }

  50% {
    box-shadow: 0px 0px 15px 15px #ff073a;
  }

  100% {
    box-shadow: 0px 0px 15px 5px #ff073a;
  }
}

.contact {
  background-color: #222;
  min-height: 90vh;
  padding-bottom: 2rem;
}

@media (max-width: 700px) {
  .contact {
    height: 100%;
    min-height: 100vh;
  }
}

@media (min-width: 1000px) {
  .contact__col {
    text-align: left;
  }

  .contact__col:first-child {
    padding-left: 10rem;
  }

  .contact__col:last-child {
    padding-right: 10rem;
  }
}

.contact__col__h1 {
  margin-top: 15vh;
}

.contact__col__form input,
.contact__col__form textarea {
  background: transparent;
  background-color: transparent;
  border: none;
  padding: 1rem;
  border-bottom: 2px solid #ff073a;
  color: #ededed;
  display: block;
  width: 100%;
}

.contact__col__form input:focus,
.contact__col__form input:focus-within,
.contact__col__form textarea:focus,
.contact__col__form textarea:focus-within {
  outline: none;
}

.contact__col__form textarea {
  height: 150px;
}

.contact__col__form label {
  position: absolute;
  top: 1rem;
  left: 2rem;
  color: #ededed;
  transition: all .5s ease-in-out;
}

.contact__col__form [type="submit"] {
  border-bottom: none;
}

.contact__col__form .filled {
  font-size: .75rem;
  top: 0rem;
}

.contact__col__form__wrap {
  margin-bottom: 2rem;
}

.contact__col__form__wrap::before {
  height: 2px;
  width: 0rem;
  position: absolute;
  bottom: 2rem;
  left: 0;
  background-color: #ededed;
  content: '';
  left: 1rem;
  transition: all .5s ease-in-out;
}

.contact__col__form__wrap:focus-visible {
  outline: none;
}

.contact__col__form__wrap:focus,
.contact__col__form__wrap:focus-within {
  outline: none;
}

.contact__col__form__wrap:focus::before,
.contact__col__form__wrap:focus-within::before {
  height: 2px;
  width: calc(100% - 2rem);
  position: absolute;
  bottom: 2rem;
  left: 0;
  background-color: #ededed;
  content: '';
  left: 1rem;
}

.contact__col__form__wrap:focus label,
.contact__col__form__wrap:focus-within label {
  font-size: .75rem;
  top: 0rem;
}

.contact__col--map > div:last-child {
  height: 80vh !important;
  margin-top: 20vh;
}

.contact .recaptcha {
  margin-top: 2rem;
}

.contact .recaptcha--error iframe {
  box-shadow: 0px 0px 15px 5px #ff073a;
  animation: blink 1s ease-in-out infinite;
}

.footer {
  border-top: 2px solid #ff073a;
  height: 10vh;
  background-color: #222;
  padding: 0 10rem;
}

@media (max-width: 700px) {
  .footer {
    padding: 15px;
    height: auto;
    gap: 1rem;
  }

  .footer > div:first-child {
    order: 2;
  }

  .footer > div:nth-child(2) {
    order: 3;
  }

  .footer > div:last-child {
    order: 1;
  }
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.footer__socials__link:first-child:hover {
  animation-name: ball-bouncing;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: .5s;
}

.footer__socials__link svg {
  width: 2rem !important;
  height: auto;
}

.footer__logo {
  width: 8rem;
}

@media (max-width: 700px) {
  .footer__logo {
    width: 4rem;
  }
}

.footer__address p {
  margin-bottom: 0.25rem;
}

@keyframes ball-bouncing {
  0% {
    transform: translateY(0%);
    animation-timing-function: ease-out;
  }

  5% {
    transform: translateY(0%);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(-50%);
    animation-timing-function: ease-in;
  }
}

@keyframes ball-deform {
  0% {
    height: 20px;
    width: 60px;
  }

  5% {
    height: 50px;
    width: 50px;
  }

  100% {
    height: 50px;
    width: 50px;
  }
}

.imprint {
  background-color: #222;
  min-height: 90vh;
}

@media (max-width: 700px) {
  .imprint {
    height: 100%;
    min-height: 100vh;
  }
}

.imprint__col {
  padding-top: 10rem;
}

@media (min-width: 1000px) {
  .imprint__col {
    text-align: left;
  }

  .imprint__col:first-child {
    padding-left: 10rem;
  }

  .imprint__col:last-child {
    padding-right: 10rem;
  }
}

@media (max-width: 700px) {
  .imprint__col h1 {
    word-break: break-all;
  }
}

.logo.home {
  position: absolute;
  height: 4rem;
  width: 5rem;
  top: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all 0.25s ease-in-out;
}

@media (max-width: 700px) {
  .logo.home {
    width: 5rem;
    height: auto;
    position: relative;
    top: 0;
  }
}

.back {
  position: absolute;
  top: 2.5rem;
  left: 2rem;
  z-index: 10000;
}

.back svg {
  width: 3rem;
}

.back svg path {
  stroke: #ff073a;
  fill: none;
  stroke-width: 3;
}

.next {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-52%) rotate(180deg);
}

.next svg {
  width: 3rem;
}

.next svg path {
  stroke: #ededed;
  fill: none;
  stroke-width: 3;
}

.projects {
  background-color: #222;
  min-height: 90vh;
}

@media (max-width: 700px) {
  .projects {
    height: 100%;
    min-height: 100vh;
  }
}

@media (min-width: 1000px) {
  .projects__col {
    text-align: left;
  }

  .projects__col:first-child {
    padding-left: 10rem;
  }

  .projects__col:last-child {
    padding-right: 10rem;
  }
}

.projects__col .project {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 6rem;
}

@media (max-width: 700px) {
  .projects__col .project {
    flex-direction: column;
  }
}

.projects__col .project .more {
  position: relative;
}

.projects__col .project .more img {
  aspect-ratio: 4 / 1;
  object-fit: cover;
  width: 40vw;
  height: 10vw;
}

@media (max-width: 700px) {
  .projects__col .project .more img {
    width: 100%;
  }
}

.projects__col .project .more:before {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #660015 0%, #b70227 41%, #e90634 77%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.projects__col .project .more:after {
  content: '';
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OTAiIGhlaWdodD0iNDkwIj4KPHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjM2IiBzdHJva2UtbGluZWNhcD0icm91bmQiCmQ9Im0yODAsMjc4YTE1MywxNTMgMCAxLDAtMiwybDE3MCwxNzBtLTkxLTExNyAxMTAsMTEwLTI2LDI2LTExMC0xMTAiLz4KPC9zdmc+IA==");
  width: 3rem;
  height: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-52%);
  opacity: 0;
  filter: invert(1);
  transition: all .5s ease-in-out;
}

.projects__col .project .more:hover:before {
  opacity: .7;
}

.projects__col .project .more:hover:after {
  opacity: 1;
}

.projects__col .project--reverse {
  flex-direction: row-reverse;
}

@media (max-width: 700px) {
  .projects__col .project--reverse {
    flex-direction: column;
  }
}

.projects__col .project--reverse .projects__col__desc {
  padding-left: 0;
  padding-right: 2rem;
}

.projects__col .project--reverse .projects__col__desc--headline {
  right: -65%;
  left: unset;
}

@media (max-width: 700px) {
  .projects__col .project--reverse .projects__col__desc--headline {
    left: 2rem;
    right: unset;
  }
}

.projects__col__desc {
  padding-left: 2rem;
}

.projects__col__desc--headline {
  font-family: 'Pathway Gothic One';
  position: relative;
  left: -2rem;
  margin-top: 2rem;
  display: inline-block;
}

@media (max-width: 700px) {
  .projects__col__desc--headline {
    left: 2rem;
  }
}

.projects__col__desc--headline:before {
  content: '<';
  font-size: 5vw;
  position: absolute;
  left: -2.5rem;
}

.projects__col__desc--headline:after {
  content: '/>';
  font-size: 5vw;
  position: absolute;
  right: -4.5rem;
}

@media (max-width: 700px) {
  .projects__col__desc {
    margin-top: 0;
  }
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}